.content {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-info {
  margin-top: 20px;
  text-align: center;
}

h3,
p {
  margin: 5px 0;
}